.background1 {
  background-image: url('../assets/bgHome.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
  position:absolute; /* Changed from absolute */
  top: 0;
  left: 0;
  z-index: -1;
}

.background2 {
  background-image: url('../assets/bgHome2.png'); 
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content:end;
  align-items: center;
  z-index: 0;
}

.background2 .content {
  text-align: center;
  border-bottom: 1px solid rgb(202, 196, 196);
  width: 70%;
}

.background2 .content .heading {
  font-size: 1.5rem;
  color: #fefefe;
}

.background2 .content .line {
  margin: 1% 0;
  font-size: 0.8rem;
  color: #c6c6c6;
}

.background2 .content button {
  margin: 1% 0;
  color: rgb(252, 70, 70);
  font-size: 1rem;
  padding: 6px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.background2 .copy {
  margin: 0.4% 0;
  font-size: 0.9rem;
  color: #fefefe;
  font-weight: 200;
}

@media (max-width: 768px) {
  .background1 {
      height: 90vh; /* Slightly increased for better layout */
  }

  .background2 {
      height: 30vh; /* Adjusted height */
  }

  .background2 .content .heading {
      font-size: 1.2rem;
  }

  .background2 .content button {
      padding: 3px 15px;
  }
}
